# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# MLflow Local Database & Runs
mlflow.db
mlruns/
.mlflow/

# OS and Editor Configs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large Local Datasets (Uncomment if dataset shouldn't be pushed)
# data/*.csv